<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="51945Tlaster.CosImg" Publisher="CN=F82B0EE7-EF8D-4515-BEAB-DD968D07D67F" Version="1.0.0.0" />
  <Properties>
    <DisplayName>CosImg</DisplayName>
    <PublisherDisplayName>Tlaster</PublisherDisplayName>
    <Logo>Assets\90x90.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CosImg.Windows.App">
      <m2:VisualElements DisplayName="CosImg" Square150x150Logo="Assets\270x270.png" Square30x30Logo="Assets\54x54.png" Description="CosImg.Windows" ForegroundText="light" BackgroundColor="#EE3E75">
        <m2:SplashScreen Image="Assets\1116x540.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="picturesLibrary" />
  </Capabilities>
</Package>